@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

@import "tailwindcss";




:root {
  --background: #f8eeec;
  --foreground: #f8eeec;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes scaleOneWay {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.animate-scaleOneWay {
  animation: scaleOneWay 18s ease-in-out infinite alternate;
}
@keyframes stamp {
  0% {
    transform: scale(0.4) rotate(-10deg);
    opacity: 0;
  }
  60% {
    transform: scale(1.1) rotate(2deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.animate-stamp {
  animation: stamp 0.6s ease-out forwards;
}
@keyframes fade-in-left {
  0% { 
    opacity: 0; 
    transform: translateX(-40px); 
  }
  100% { 
    opacity: 1; 
    transform: translateX(0); 
  }
}

@keyframes fade-in-up {
  0% { 
    opacity: 0; 
    transform: translateY(20px); 
  }
  100% { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

.animate-fade-in-left {
  animation: fade-in-left 0.9s ease-out forwards;
}

.animate-fade-in-up {
  animation: fade-in-up 0.9s ease-out forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}
