

/* Momo Trust Display */
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

/* Zalando Sans (Variable font) */
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');

/* Base paragraph style */
.roboto-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;        /* readable size */
  line-height: 1.5;       /* more breathing space */
   color: #555557;     /* soft dark gray – less strain than pure black */
  letter-spacing: 0.2px;  /* improves readability */
  margin-bottom: 1rem; 
   
}

/* Medium-weight emphasis */
.roboto-text-strong {
  font-weight: 700;
  color: #555557;  
         /* stronger contrast for emphasis */
}

.momo-font {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Simulated lighter version (best option) */
.momo-font-light {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 0.3px;
}

/* Even softer option */
.momo-font-soft {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  opacity: 0.7;
}



.zalando-regular {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* normal */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.zalando-bold {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.zalando-light {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

 @keyframes scrollLeft {
      0% { transform: translateX(0); }
      100% { transform: translateX(-50%); }
    }
    .scrollbar-hide::-webkit-scrollbar { display: none; }